.container {
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signin {
  margin-top: 20px;
  margin-right: 75px;
  position:absolute;
  top:0;
  right:0;
}
